<html>
  <head>
    <title>Orientation</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/home.css">
  </head>

  <body>
    <div class="container">
      <div class="faixa">
        <a href="/logout">Logout</a>
      </div>
      <div class="content">
        <div class="creates">
          <a href="/teacher/create">Create new teacher</a>
          <a href="/teacher/list">All teachers</a>
          <a href="/orientation">Create new orientation</a>
        </div>
      </div>
      <div class="list">
        <% if(message.length > 0) {%>
          <h4 style="align-self: center; margin-top: 2em;" class="emailExist"><%= message%></h4>
        <%}%>

        <% if(!list || list.length == 0) {%>
          <h4 style="align-self: center; margin-top: 2em;">There's no orientation register :(</h4>
        <% } else { %>
          <% for (i of list) { %>
            <div class="itens">
              <p>Thema: <%= i.thema %></p>
              <p>Student Name: <%= i.studentName %></p>
              <p>Teacher: <%= i.teacherName.name %></p>
              <a href="/orientation/delete/<%= i._id %>">Delete</a>
            </div>
          <% } %>
        <% } %>
      </div>
    </div>
  </body>
</html>